[submodule "organisation-web"]
	path = organisation-web
	url = https://github.com/mathiscapart/travel-paradise-organisation-web.git
[submodule "app-mobile"]
	path = app-mobile
	url = https://github.com/mathiscapart/travel-paradise-app-mobile.git
[submodule "api"]
	path = api
	url = https://github.com/mathiscapart/travel-paradise-api.git
[submodule "visitor-web"]
	path = visitor-web
	url = https://github.com/mathiscapart/travel-paradise-visitor-web.git
