[submodule "organisation-web"]
	path = organisation-web
	url = https://github.com/mathiscapart/travel-paradise-organisation-web.git
[submodule "app-mobile"]
	path = app-mobile
	url = https://github.com/mathiscapart/travel-paradise-app-mobile.git
